
/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    position: relative; /* Enables positioning of child elements */
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin: 20px 0;
    font-size: 3em;
}

h2 {
    text-align: center;
    color: #34495e;
    margin: 20px 0;
    font-size: 2.5em;
}

h3 {
    color: #34495e;
    margin: 10px 0;
}

/* Top-Right Image Styles */
.top-right-image {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px; /* Adjust size as needed */
    height: auto;
    border-radius: 8px;
}

/* Container Styles */
.lodging-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Lodging Item Styles */
.lodging-item {
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.lodging-item:hover {
    transform: translateY(-5px);
}

.lodging-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

/* Button Styles */
.btn-book {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-book:hover {
    background-color: #1e8449;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    .lodging-container {
        padding: 10px;
    }

    .btn-book {
        width: 100%;
    }

    .top-right-image {
        width: 80px; /* Adjust size for smaller screens */
        top: 5px;
        right: 5px;
    }
}

/* Navigation bar Implementation */
.navbar{
    background-color: #1e8449;
    padding: 4px;
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.navbar ul{
    list-style: none;
    padding:0;
    margin:0;
}


.navbar ul li{
    display: inline-block;
    padding: 7px 35px;
    margin: 0 10px;
}



.navbar ul li a{
    color: #ffffff;
    display: block;
    padding: 12px 35px;
    background-color:#229c55;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s, transform 0.4s;

}

.navbar ul li a:hover{
    background-color:#0bb652;
    transform: scale(1.07);
}


.navbar ul li a:active{
    transform: scale(0.95);
}
/* Navigation Bar Implementation */